*{
    font-size: large;
    font-family: "Gill Sans", sans-serif;
    padding: 0;
    margin: 0;
}

body{


}

.rounded-bg{
    background-color: #1f2833;
    border-radius: 25px;
    margin: 0% 25% 0% 25%;
}


a{
    text-decoration: none;
}

.custom-bg{
    background-color: #1f2833;
}
